<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>

<!-- Footer -->
<footer class="footer fixed-bottom">

    <!-- Footer Text -->
    <div class="container-fluid text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-xs-6 text-left">

          <!-- Content -->
          <b style="font-family:Lora, Times, serif;">CITY OF BEVERLY HILLS</b>
          <p>City of Beverly Hills</b><br>
          455 North Rexford Drive<br>
          Beverly Hills, CA 90210</p>
        </div>
        <!-- Grid column -->

        <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

        <!-- Grid column -->
        <div class="col-sm-6 text-right">

          <!-- Content -->
          <b style="font-family:Lora, Times, serif;">RESOURCES</b>
          <p><a style="color:white;text-decoration: underline;" href="https://clients.comcate.com/newrequest.php?id=31" target="_blank">Ask Bev</a><br>
          <a style="color:white;text-decoration: underline;" href="http://www.beverlyhills.org/onlineservices/textbh/" target="_blank">Text BH</a><br>
          <a style="color:white;text-decoration: underline;" href="http://www.beverlyhills.org/citygovernment/departmentsanddivisions/informationtechnology/mobileapps/" target="_blank">Apps</a><br>
          <a style="color:white;text-decoration: underline;" href="http://www.beverlyhills.org/onlineservices/" target="_blank">Online Services</a></p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="row text-center small copyright"><a style="color:white;text-decoration: underline;" href="https://github.com/CityofBeverlyHills/opendata" target="_blank">made in Beverly Hills &nbsp;<i class="fa fa-github"></i></a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
